* {box-sizing: border-box}

.pricing-section {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Intro", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 100px 0px 150px 0px;
}

.pricing-header-container {
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
}

.pricing-table {
  margin: auto;
  width: 80%;
  background-image: linear-gradient(to bottom right, rgba(242, 242, 242, .9),rgba(183, 183, 183,1))
}

.pricing-table th {
  font-size: 2em;
}

.pricing-table th h6 {
  margin: 0;
}

.pricing-table td {
  padding: 20px 0px;
  border-top: 2px solid #eee;
}

.icon {
  color: #1ac1dd ;
}

/* border */

.border-top-thicker {
  border-top: 3px solid #a7fcf8;
  border-right: 3px solid #a7fcf8;
  border-left: 3px solid #a7fcf8;
  background-color: #00fff3 ;
}

#complete-check {
  background-image: linear-gradient(to bottom , rgba(0, 255, 243, .9),rgba(183, 183, 183,.5))
}

#extensive-check {
  background-image: linear-gradient(to bottom right, rgba(167, 252, 248, .9),rgba(183, 183, 183,1))
}

#light-check {
  background-image: linear-gradient(to bottom right, rgba(222, 255, 254, .9),rgba(183, 183, 183,1))
}

.border-top {
  border-top: 1px solid #a7fcf8;
  border-right: 1px solid #a7fcf8;
  border-left: 1px solid #a7fcf8;
}

.border-side {
  border-right: 3px solid #a7fcf8;
  border-left: 3px solid #a7fcf8;
}

#border-bottom {
  border-bottom: 3px solid #a7fcf8;
}
